
@{
    Layout = null;
}


<div id="auth">
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AuthorizeApp();
        });

        

        function AuthorizeApp() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AuthorizationApp", "Authorization")',
                data: { type: $(this).attr("data-type") },
                success: function (response) {
                    console.log(response);
                    //$("#auth").html(response);
                },
                error: function () {
                    alert("Unexpected Error Occured");
                }
            });
        }



    </script>
